<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"   href="/css/style.css">
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
        <h1 class="display-4">OMDB Movie Search</h1>
        </div>
       
      </div>
      <div class="container form-container container-main">
        <div class="row">
          <div class="col text-center">
            <h1>Movie Not Found</h1>
            <br />
            <a href="/">Return Home</a>
        </div>
    </div>
</div>
</body>
</html>